.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #7892b8; /* blue navbar */
  color: rgb(53, 112, 31);
}

.navbar-logo a {
  color: rgb(68, 17, 99);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  color: rgb(111, 35, 35);
  text-decoration: none;
  font-weight: 500;
}

.navbar-links li a:hover {
  text-decoration: underline;
}
